@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

:root {
  --gradient-main: linear-gradient(
    to right,
    hsl(249 99% 64%),
    hsl(278 94% 30%)
  );
  --error-red: 0 100% 66%;
  --white: 0 0% 100%;
  --light-grey-violet: 270 3% 87%;
  --dark-grey-violet: 279 6% 55%;
  --very-dark-violet: 278 68% 11%;

  --ff: "Space Grotesk", sans-serif;

  /* Multiply by width to get expected height */
  --card-aspect-ratio: calc(245 / 447);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

  font-family: var(--ff);
  font-size: 18px;
  font-weight: 500;
}

.hidden {
  display: none !important;
}

#design-container {
  --card-width: clamp(12.5rem, 65vw, 22.5rem);
  --card-height: calc(var(--card-width) * var(--card-aspect-ratio));

  display: grid;
  grid-template-rows: calc(1.5 * var(--card-height)) max(
      calc(100% - 1.5 * var(--card-height)),
      100%
    );
  grid-template-columns: 100%;
}

/* Background Accent Img */
#accent-img {
  grid-area: 1 / 1 / 2 / 2;
  object-fit: cover;
  overflow: hidden;
}

#accent-img > * {
  width: 100%;
  height: 100%;
}

/* Credit Card Component */
#credit-card {
  --card-bdr-offset: calc(0.075 * var(--card-height));

  --fs-sm: clamp(8px, 2.25vw, 12px);
  --fs-md: clamp(10px, 3.25vw, 16px);
  --fs-lg: clamp(10px, 4.25vw, 26px);

  grid-area: 1 / 1 / 3 / 2;

  height: max-content;
  display: grid;
  grid-template-rows: repeat(2, var(--card-height));
  grid-template-columns: 100%;

  padding: 1rem;
}

#card-front {
  grid-area: 2 / 1 / 3 / 2;
  transform: translateY(-40%);
  z-index: 1;
}

#card-back {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: flex-end;
}

/* Individual card styling */
.cardImg {
  width: max-content;
  isolation: isolate;
  position: relative;
  display: grid;
  grid-template-rows: var(--card-height);
  letter-spacing: 2px;
  color: hsl(var(--white));
  filter: drop-shadow(20px 20px 12.5px hsl(var(--dark-grey-violet) / 10%));
  border-radius: 0.25rem;
}

.cardImg > * {
  grid-area: 1 / 1 / 2 / 2;
  height: max-content;
  padding: 0;
  margin: 0;
}

.cardImg > [data-bkg] {
  height: 100%;
}

/* Stuff that goes on the card */
.cardImg > *:not([data-bkg]) {
  position: absolute;
}

#card-logo {
  height: calc(0.1 * var(--card-width));
  top: var(--card-bdr-offset);
  left: var(--card-bdr-offset);
}

#card-num {
  width: 100%;
  max-width: calc(var(--card-width) - 2 * var(--card-bdr-offset));

  left: var(--card-bdr-offset);
  top: calc(0.55 * var(--card-height));
  font-size: var(--fs-lg);
}

#card-name,
#card-exp {
  bottom: var(--card-bdr-offset);
  font-size: var(--fs-sm);
}

#card-name {
  left: var(--card-bdr-offset);
  text-transform: uppercase;
  letter-spacing: 1.25px;
}

#card-exp {
  right: var(--card-bdr-offset);
}

#card-cv {
  right: calc(var(--card-bdr-offset) * 3);
  top: calc(0.49 * var(--card-height));
  transform: translateY(-50%);
  font-size: var(--fs-md);
}

/* Contains form + success message */
#main-content {
  grid-area: 2 / 1 / 3 / 2;

  height: max-content;
  display: flex;
  justify-content: center;
  padding-top: clamp(2rem, 12.5vw, 3.5rem);
}

.main-content-container {
  width: 100%;
  max-width: 25rem;
  padding: 0.5rem;
}

/* Credit form */
#card-form {
  --row-gap: 1.5rem;
  --col-gap: 0.5rem;
  --fs-btn: clamp(0.8rem, 5vw, 1rem);

  height: max-content;

  display: grid;
  grid-template-columns: repeat(2, calc((100% - var(--col-gap)) / 2));
  grid-template-rows: max-content;
  align-items: center;
  gap: var(--row-gap) var(--col-gap);
}

#card-form > :first-child,
#card-form > :nth-child(2),
#card-form > :last-child {
  grid-column: span 2;
}

.form-group {
  --fs-label: clamp(0.75rem, 3vw, 0.9rem);
  --fs-input: clamp(0.8rem, 5vw, 1rem);

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form-group label {
  letter-spacing: 1.5px;
  font-size: var(--fs-label);
  text-transform: uppercase;
}

.form-group input {
  --border-clr: hsl(var(--light-grey-violet));
  --border-grad: linear-gradient(var(--border-clr), var(--border-clr));

  width: 100%;
  padding: 0.5rem 0.75rem;
  font-family: var(--ff);
  font-size: var(--fs-label);
  letter-spacing: 1.25px;
  outline: none;

  /* Custom border */
  background-image: linear-gradient(white, white), var(--border-grad);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border: 2px solid transparent;
  border-radius: 0.45rem;
}

.form-group:not(.error) input:focus {
  --border-grad: var(--gradient-main);
}

.form-group.error input {
  --border-clr: hsl(var(--error-red));
}

.form-group .error-msg {
  display: none;
  padding: 2px;
  margin: 0;
  font-size: clamp(0.75rem, 5vw, 0.85rem);
  color: hsl(var(--error-red));
}

.form-group.error .error-msg {
  display: block;
}

.div-split {
  display: flex;
  gap: 0.5rem;
}

.btn {
  padding: 0.5rem 0.75rem;

  color: hsl(var(--white));
  background-color: hsl(var(--very-dark-violet));
  text-align: center;
  font-family: var(--ff);
  font-size: var(--fs-btn);
  border: none;
  border-radius: 0.45rem;
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

/* Success message */
#complete-state {
  display: flex;
  flex-direction: column;
}

/* Attribution styling */
.attribution {
  padding: 0.5rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Desktop styling */
@media (min-width: 768px) {
  #design-container {
    --card-width: clamp(15rem, 37.5vw, 30rem);

    grid-template-rows: 100vh;
    grid-template-columns: 3fr 5fr;
  }

  #credit-card {
    --fs-lg: clamp(10px, 2.5vw, 26px);

    width: max-content;
    grid-area: 1 / 1 / 2 / 3;
    align-self: center;
    gap: 2rem;
    transform: translateX(7.5vw);
  }

  #card-front {
    grid-area: 1 / 1 / 2 / 2;
    transform: translate(0, 0);
  }

  #card-back {
    grid-area: 2 / 1 / 3 / 2;
    justify-self: initial;
    transform: translateX(calc(0.15 * var(--card-width)));
  }

  #main-content {
    height: auto;
    grid-area: 1 / 2 / 2 / 3;
    align-items: center;
    padding-top: 0;
    padding-left: 7.75rem;
  }

  #card-form {
    --fs-btn: 1rem;
    padding: 1rem;
  }

  .form-group {
    --fs-label: 0.825rem;
    --fs-input: 1rem;
  }
}
